<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-resizable-behavior/iron-resizable-behavior.html">
<script src="../highcharts/adapters/standalone-framework.js"></script>
<script src="../highcharts/highstock.js"></script>
<script src="NavigationHandler.js"></script>

<dom-module id="cotton-time-series">

  <style>
    :host {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }
  </style>

  <template>
    <div id="container" style="width:100%; height: 100%; margin: 0 auto; position: relative;"></div>
  </template>

  <script>
    Polymer({
      is: 'cotton-time-series',

      properties: {
        zoomable: {
          type: Boolean,
          reflectToAttribute: true
        },
        windowSize: Number,
        _chart: Object,
        _handler: {
          type: Object,
          value: function() {
            return navigationHandler();
          }
        },
        _lastPointInstant: {
          type: Object,
          value: function () {
            return {};
          }
        }
      },

      behaviors: [Polymer.IronResizableBehavior],

      listeners: {
          'iron-resize': '_resizeChart'
      },

      ready: function () {
        this._chart = this._createChart();
        if (!this.zoomable) {
          return;
        }
        this.$.container.addEventListener('mousewheel', this._onMouseWheel.bind(this));
        this.$.container.addEventListener('DOMMouseScroll', this._onMouseWheel.bind(this));
        this.$.container.addEventListener('mousedown', this._onMouseDown.bind(this));
        this.$.container.addEventListener('mousemove', this._onMouseMove.bind(this));
        this.$.container.addEventListener('mouseup', this._onMouseUp.bind(this));
        this.$.container.addEventListener('mouseleave', this._onMouseUp.bind(this));
      },

      attached: function () {
        this.async(this._resizeChart.bind(this), 100);
      },

      _createChart: function () {
        var handler = this._handler;
        return new Highcharts.StockChart({
            chart: {
                renderTo: this.$.container
            },

            navigator: {
              enabled: false
            },

            credits: {
                enabled: false
            },

            scrollbar : {
              enabled : false
            },

            rangeSelector: {
              enabled: false
            },

            yAxis: {
              gridLineDashStyle: 'Dot',
              labels: {
                style: {
                  fontSize: '8pt',
                  fontFamily: 'Rubik, Helvetica Neue, Helvetica, Arial, sans-serif'
                }
              }
            },

            plotOptions: {
                series: {
                  point: {
                    events: {
                      mouseOver: function () {
                        handler.focus(this.x);
                      }
                    }
                  }
                }
            }
        });
      },

      _resizeChart: function () {
        this._chart.reflow();
      },

      addSeries: function (name) {
        this._chart.addSeries({
          name: name,
          data: [],
          marker : {
            enabled : true,
            radius : 2
          }
        }, true, false);
      },

      addPoint: function (seriesName, point) {
        this._addPoint(seriesName, point, true)
      },

      addPointWithoutRedraw: function (seriesName, point) {
        this._addPoint(seriesName, point, false);
      },

      redraw: function () {
        this._chart.redraw();
      },

      _addPoint: function (seriesName, point, redraw) {
        if (this._pointIsAdded(seriesName, point.instant)) {
          return;
        }
        this._lastPointInstant[seriesName] = point;
        var series = this._findSeriesByName(seriesName);
        if (series) {
          series.addPoint([point.instant, point.value], redraw, this._shouldShift(series));
        }
      },

      _findSeriesByName: function (name) {
        return this._chart.series.filter(function (series) {
          return series.name === name;
        })[0];
      },

      _onMouseWheel: function (e) {
        var range = this._handler.calculateRange(e, this._chart.xAxis[0]);
        if (range) {
          this._updateRange(range);
        }
        e.preventDefault();
      },

      _onMouseDown: function () {
        this._startOfDragging = this._chart.xAxis[0].getExtremes().userMin;
      },

      _onMouseMove: function () {
        if (!this._startOfDragging) {
          return;
        }
        var from = this._chart.xAxis[0].getExtremes().userMin;
        var to = this._chart.xAxis[0].getExtremes().userMax;
        this.fire('move-range', {from: from, to: to});
      },

      _onMouseUp: function () {
        if (!this._startOfDragging) {
          return;
        }
        var min = this._chart.xAxis[0].getExtremes().userMin;
        var max = this._chart.xAxis[0].getExtremes().userMax;
        this._moveRange({from: min, to: max});
        this._startOfDragging = undefined;
      },

      _moveRange: function (range) {
        this._chart.xAxis[0].setExtremes(range.from, range.to);
        this.fire('finish-moving-range', range);
      },

      _updateRange: function (range) {
        this._chart.xAxis[0].setExtremes(range.from, range.to);
        this.fire('update-range', range);
      },

      _pointIsAdded: function (seriesName, instant) {
        return this._lastPointInstant[seriesName] === instant;
      },

      _shouldShift: function (series) {
        return this.windowSize >= 0 ? series.points.length >= this.windowSize : false;
      }
    });
  </script>
</dom-module>
