<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cotton-time-series Sample</title>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../cotton-time-series.html">
    <link rel="import" href="../../paper-tabs/paper-tabs.html">
    <link rel="import" href="../../iron-pages/iron-pages.html">
    <style>
      body {
        height: 80vh;
      }
    </style>
  </head>
  <body unresolved>

    <two-charts-page></two-charts-page>

    <dom-module id="two-charts-page">
      <style>
        :host {
          display: block;
        }

        iron-pages {
          height: calc(100% - 100px);
        }

        section {
          height: 100%;
        }
      </style>
      <template>
        <iron-pages selected="{{selected}}">
          <section><cotton-time-series style="height: 100%; width: 100%;"></cotton-time-series></section>
          <section><cotton-time-series style="height: 100%; width: 100%;" zoomable></cotton-time-series></section>
        </iron-pages>
        <paper-tabs selected="{{selected}}">
          <paper-tab>Default chart</paper-tab>
          <paper-tab>Zoomable chart</paper-tab>
        </paper-tabs>
      </template>
      <script>
        Polymer({
          is: 'two-charts-page',

          properties: {
            selected: {
              type: Number,
              value: 0
            }
          },

          attached: function () {
            [].slice.call(this.querySelectorAll('cotton-time-series')).forEach(function (chart) {
              chart.addSeries('Random series');
              for (var i = 0; i < 10000; i++) {
                var point = {instant: (new Date()).getTime(), value: Math.random() * 100};
                chart.addPointWithoutRedraw('Random series', point);
              }
              chart.redraw();
            });
          }
        });
      </script>
    </dom-module>
  </body>
</html>
